<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
            .subtitle{
                font-weight: bold;
            }
            .list{
                padding-left:40px;
            }
        </style>
    </head>
    <body>
        <div style="margin-left:5vw; margin-right:5vw; margin-bottom:5vh;">
            <h1 style="padding-top:6vh;">Home Gig Privacy Policy</h1>
            <p class="subtitle">Privacy Policy for Home Gig</p>
            <p class="subtitle">Updated: November 27, 2019</p>

            <p>Table of contents</p>

            <ol type="1" class="list">
                <li>General</li>
                <li>What personal information do we collect</li>
                <li>How we use your personal information</li>
                <li>Marketing Purposes</li>
                <li>Advertising</li>
                <li>Cookies</li>
                <li>Access to, review and rectification of your personal information</li>
                <li>Protection and retention of your personal information</li>
                <li>Other Information</li>
            </ol>

            <h3 class="subtitle">1. General</h3>
            <p>This privacy policy describes the policy of Home Gig regarding the collection, use, storage, sharing and protection of your personal information ("Privacy Policy"). By using Home Gig and related Services, you give explicit consent to Home Gig for the collection, use, disclosure and retention of your personal information by us, as described in this Privacy Policy and our Terms of Use.</p>
            
            <h3 class="subtitle">2. What personal information do we collect</h3>
            <p>You can visit our Website without registering for an account. When you decide to provide us with your personal information, you agree that such information is sent to and stored on our servers. We collect the following types of personal information:</p>
            <p><strong>Information we collect automatically:</strong> When you visit our Website, use our Services and or reply to ads or other content, we automatically collect the information sent to us by your computer, mobile device or other equipment that provides access. This information includes, but is not limited to:</p>
            <ul class="list">
                <li>information from your interaction with our Website and Services, including, but not limited to, device ID, device type, geo-location information, computer and connection information, statistics on page views, traffic to and from Home Gig, referring URL, ad data, IP address and standard web log information; and</li>
                <li>information we collect through cookies, web beacons and similar technologies.&nbsp;</li>
            </ul>
            <p><strong>Information you provide to us:</strong> We collect and store any information you enter on our Website or that you provide to us when you use our Services. This information includes, but is not limited to:</p>
            <ul class="list">
                <li>information that you provide to us when you register for an account or for the Services that you use;&nbsp;</li>
                <li>additional information that you may provide to us through social media sites or third party Services;&nbsp;</li>
                <li>information provided in the context of dispute resolution, correspondence through our Website or correspondence that is sent to us;&nbsp;</li>
                <li>information about your location and the location of your device, including your device’s unique identifier information if you have enabled this service on your mobile device, and&nbsp;</li>
                <li>your resume if you choose to submit it to us for consideration through our careers page&nbsp;</li>
            </ul>
            <p><strong>Information from other sources: </strong>We may receive or collect additional information about you from third parties and add this to our account information. This information includes, but is not limited to: demographic data, navigation data, additional contact data and additional data about you from other sources, such as public authorities, to the extent permitted by law.</p>

            <h3 class="subtitle">3. How we use your personal information</h3>
            <p>You agree that we may use your personal information for the following purposes:</p>
            <ul class="list">
                <li>to provide you access to our Services and Customer Support by means of e-mail or telephone;&nbsp;</li>
                <li>to prevent, detect and investigate potentially prohibited or illegal activities, fraud and security breaches and to enforce our Terms of Use;&nbsp;</li>
                <li>to personalize, measure and improve our Services, content and ads;&nbsp;</li>          
                <li>to contact you, by e-mail, push notification, text message (SMS) or by telephone, to inquire about our Services and the services of companies that are part of the Home Gig ‘corporate family’ (hereinafter referred to as the ‘Home Gig Group’) for the purpose of targeted marketing activities, updates, and promotional offers based on your message preferences (where applicable), or for any other purposes as set forth in this Privacy Policy;&nbsp;</li>
                <li>to provide you with other services that you have requested, as described when we collected the information, and&nbsp;</li>
                <li>to consider you as a potential candidate if you choose to upload your resume through our careers page.&nbsp;</li>
            </ul>
            <p><strong>Sharing information with and registration on social media sites:</strong> We may offer sign-on Services that enable you to access the Website or related websites with your login credentials. We can also offer Services that enable you to share information with third party social media websites, such as Facebook, Google Plus and Twitter.</p>
            <p>If you provide us access to personal information stored on third party websites, the scope of access to this personal information shall vary per website and will be determined by both your own browser settings and your consent. If you wish to connect your third party account to your Home Gig account and you consent to us accessing the information in these third party accounts, you agree that we can collect, use and store information from this third party website in accordance with this Privacy Policy.</p>
            <p><strong>Transfer of your personal information to third parties:</strong> We may disclose your personal information to third parties in accordance with this Privacy Policy and applicable legislation and regulations. As further described under Section 4, we will not disclose your personal information to third parties for their marketing purposes without your explicit consent. We may share your personal information with:</p>
            <ul class="list">
                <li><u>service providers</u> with whom we have entered into an agreement to help us provide our Services on the website, such as financial service providers, marketing agencies and technical support. In such cases, the personal information shall remain under the control of Home Gig Canada Ltd.</li>
                <li><u>certain third parties</u> (such as intellectual property rights holders, supervisory authorities, tax authorities, police and other regulatory authorities) if we are required to do so by law, or in accordance with our Privacy Policy. We may share your personal information: to comply with legal obligations or a court order; or if this is necessary for the prevention, detection or prosecution of criminal offenses, such as fraud, deceit or prosecution, or if it is necessary to maintain our policies or to protect the rights and freedoms of others.</li>
                <li><u>other third parties</u> to whom you have given consent to share your information via Home Gig, e.g. in the framework of a cooperation;&nbsp;</li>
                <li><u>companies</u> that we intend to merge with in the context of a re-organisation or that acquire us;&nbsp;</li>
                <li><u>an intellectual property owner</u> if the owner of an intellectual property right or an intermediary in good faith believes that an advertisement violates the rights of the owner. Before personal information is provided, the IP owner will enter into an agreement that, inter alia, stipulates that information is only provided on the strict condition that it may only be used in the context of legal proceedings and/or obtaining legal advice and/or to answer questions from the relevant advertiser</li>
            </ul>
            <p>Without limitation to the foregoing, we shall moreover - in our efforts to respect your privacy and to keep the website free of malicious persons or parties – not disclose your personal information to third parties without a court order or formal request from the government in accordance with applicable law, unless we believe in good faith that such disclosure is necessary to prevent impending injury or financial damages or to report alleged illegal activities.</p>
            <p><strong>Information you share:</strong> Our Website allows users to share advertisements and other information with other users, thereby making this shared information accessible to other users. Since our Website also enables you to directly contact a buyer or seller, we recommend that you consider how you share your personal information with others. You are solely responsible for the personal information you share through our Website and therefore we cannot guarantee the privacy or security of the information shared by you with other users.</p>
            <p>In case you visit our Website from a shared computer or a computer in an internet café, we strongly recommend that you log off after each session. If you do not want the shared computer to remember you and/or your credentials, you will need to remove cookies and/or the history of your website visits.</p>
            <p>Your data controller may transfer data to other members of our corporate family as described in this Privacy Policy who may process and keep your personal information on servers in the European Union, United States and our data centers in other parts of the world.</p>
            
            <h3 class="subtitle">4. Marketing Purposes</h3>
            <p>You agree that we may use the information collected by us to send you offers, whether personalised or not, or to contact you by telephone regarding products or Services offered by Home Gig or companies of the Home Gig Group.</p>
            <p>We will not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. We may combine your information with information we collect from other companies and use it to improve and personalize our Services and functionalities.</p>
            
            <h3 class="subtitle">5. Advertising</h3>
            <p>If you do not wish to participate in&nbsp;our&nbsp;advertising personalization&nbsp;using your identified personal information or re-targeting/tracking&nbsp;programs, you can opt-out by following the directions provided within the applicable advertisement. &nbsp;The effect of an opt-out will be to stop personalized advertising, but it will still allow the collection of information for certain purposes such as usage, research, analytics and internal online services operation purposes).&nbsp;You may still see non-personalized advertisements, including ads based on general geographic region.&nbsp;In addition to that, we do not allow third parties to track or collect your personal information on our sites for their own advertising purposes without your explicit consent.</p>
            
            <h3 class="subtitle">6. Cookies</h3>
            <p>When you use our Services, we and our service providers may place cookies (data files on your phone or mobile device’s drive) or web beacons (electronic images that are placed in a web page’s code) or similar technologies. We use cookies to help us identify you as a user, to provide you a better experience on our Website, to measure promotional effectiveness and to ensure trust and safety on our Website. For more detailed information about our use of these technologies, we refer you to our Policy on Cookies, Web beacons and Similar Technologies.</a></p>
            
            <h3 class="subtitle">7. Access to, review and rectification of your personal information</h3>
            <p>We cannot modify your personal information or account information. You can modify your own information by logging into your Home Gig account. When you place a classified ad, you may not be able to change your listing or delete your message. If you want to close your account (where applicable) with us, please send us a request to us. We will process your request within a reasonable period of time and process your personal information in accordance with applicable law. Alternatively, you can also contact Customer Support to access your personal information stored by us that is not directly accessible on Home Gig, unless we are not required to provide access under applicable law. We may charge a fee to compensate costs; however the fee shall not exceed the amount permitted by law. If your information is factually incorrect or incomplete or irrelevant for the purposes for which we process your information, you can request us to modify or delete your information. Such requests will be handled in accordance with applicable law. If you have any questions, please contact us with the subject line ‘Request Privacy Policy’.</p>
            
            <h3 class="subtitle">8. Protection and retention of your personal information</h3>
            <p>We protect your information by using technical and administrative security measures (such as firewalls, data encryption, and physical and administrative access controls to the data and servers) that limit the risk of loss, abuse, unauthorised access, disclosure, and alteration. Nevertheless, if you believe your account has been abused, please contact us through the <a href="/contact">Contact Form</a>.</p>
            <p>We retain personal information no longer than is legally permissible and delete personal information when it is no longer necessary for the purposes as described above.</p>

            <h3 class="subtitle">9. Other Information</h3>
            <p><strong>Abuse and unsolicited commercial communications ("spam"):</strong> We do not tolerate abuse of our Website. You do not have permission to add other Home Gig users to your mailing list (e-mail or postal) for commercial purposes, even if a user has purchased something from you, unless the user has given his explicit consent. If you notice that someone is abusing our Website (spam or spoof emails), please notify us.</p>
            <p>It is not allowed to use our member-to-member communication resources to send spam or content that violates our Terms of Use in any other way. For your security, we may scan messages automatically and check for spam, viruses, phishing and other malicious activity or illegal or prohibited content. We do not permanently store messages sent through these resources.</p>
            <p><strong>Third Parties:</strong> Unless explicitly provided otherwise in this Privacy Policy, this Privacy Policy applies only to the use and transfer of information we collect from you. Home Gig has no control over the privacy policies of third parties that may apply to you. When we work with third parties or use third party tools to provide certain services, we will explicitly indicate which privacy policy applies to you. We therefore encourage you to ask questions before you disclose your personal information to others.</p>
        </div>
    </body>
</html>

