<div style="margin-left:5vw; margin-right:5vw; margin-bottom:55vh;margin-top:5vh;">
  <h1 style="padding-top:6vh;">Your conversations</h1>

  <div id="conversations">
    <%= render @conversations %>
  </div>
</div>