<meta name="viewport" content="width=device-width, initial-scale=1">
<%= image_tag("background.jpg", :alt => "Nature", style: "height: 100vh; width: 100vw") %>
<div class="text-block">
  <h1>Home-Gig</h1>
  <h4>Find the budget yet elegent solution to your business</h4>
</div>
<div class="text-block2">
  <h2>_________________________Search</h2>
</div>
