<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <div style="margin-left:5vw; margin-right:5vw; margin-bottom:5vh;">
            <h2 style="padding-top:6vh;">FAQ</h2>
            

        </div>
    </body>
</html>