<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <style>
        </style>
    </head>
    <body>
        <div style="margin-left:5vw; margin-right:5vw; margin-bottom:5vh;">
            <h2 style="padding-top:6vh;">FAQ</h2>

            <div class="card">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#faq1" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="mb-0"><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#faq1" aria-expanded="true" aria-controls="collapseOne">How do I sign up for an account?</button></h5>
                </div>
                <div>
                    <div id="faq1" class="collapse">
                        <p style="padding:2vh;">You can sign up for an account <a href="/user/sign_up">here</a>! Once you sign in to Home Gig, you will receive an activation email. Just click the link in the activation email to active your account. If you can't find the activation email, check your spam folder.</p>
                    </div>
                </div>
            </div> 

            <div class="card">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#faq2" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="mb-0"><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#faq2" aria-expanded="true" aria-controls="collapseOne">How does Home Gig work?</button></h5>
                </div>
                <div>
                    <div id="faq2" class="collapse">
                        <p style="padding:2vh;">Home Gig enables you to browse the selection of freelancers offering services, and to place orders in just one click. A service offered on Home Gig is called a Gig.</p>
                    </div>
                </div>
            </div> 

            <div class="card">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#faq3" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="mb-0"><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#faq3" aria-expanded="true" aria-controls="collapseOne">How do I set up my billing information?</button></h5>
                </div>
                <div>
                    <div id="faq3" class="collapse">
                        <p style="padding:2vh;">Once you create an account, you can add cards to your account Wallet. Click <a href="/billing">here</a> to fill out your Billing Information. 
                        Once you've filled out the Billing Information in your account settings, you will automatically receive invoices after each purchase. Make sure the details are accurate and final as the original invoices will be based on this information.</p>
                    </div>
                </div>
            </div> 

            <div class="card">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#faq4" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="mb-0"><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#faq4" aria-expanded="true" aria-controls="collapseOne">How do I update my account information?</button></h5>
                </div>
                <div>
                    <div id="faq4" class="collapse">
                        <p style="padding:2vh;">You can update your account information once you've signed in. Just click on 'My Account' in the drop down at the top right corner, or click <a href="/user/edit">here</a> to edit your account information.</p>
                    </div>
                </div>
            </div> 

            <div class="card">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#faq5" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="mb-0"><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#faq5" aria-expanded="true" aria-controls="collapseOne">What happens if I forget my account password?</button></h5>
                </div>
                <div>
                    <div id="faq5" class="collapse">
                        <p style="padding:2vh;">If you've forgotten your password, click <a href="a/user/password/new">here</a> to reset your password. Once you reset your password, you will receive an email to successfully reset your password.</p>
                    </div>
                </div>
            </div> 

            <div class="card">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#faq6" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="mb-0"><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#faq6" aria-expanded="true" aria-controls="collapseOne">How do I cancel an order?</button></h5>
                </div>
                <div>
                    <div id="faq6" class="collapse">
                        <p style="padding:2vh;">Canceling your order is easy. If your order has not been marked complete, you can cancel your order on the page 'Your Orders'. In the very last column, there will be a 'Delete' button which will allow you to cancel the order.</p>
                    </div>
                </div>
            </div> 
            
        </div>
    </body>
</html>