/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 body {margin: 0;}

 .wallet {
   text-align: center;
 }

 ul.topnav {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   color: white;
 }

 ul.topnav li {float: left;}

 ul.topnav li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 .dropdown:hover .dropbtn {
   background-color: red;
 }
  ul.topnav li.dropdown {
   float: right;
   overflow: hidden;
 }

 .newjob{
   align-items: center;
 }

 .newcard {
    align-items: center;
  }

.newcard{
  margin-left: 40%;
  margin-right: 40%;
}

.newcard input, select{
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.newcard input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newcard input[type=submit]:hover {
  background-color: #45a049;
}

 .description input{
   height: 10em;
 }
 .dropdown .dropbtn {
   font-size: 16px;
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   min-width: 160px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
 }
 .dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  float: inherit;
  color: black;
  display: inline-block;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.log-in {
  text-align: center;
  padding-top: 10%;
  margin: 0 auto;
}

.newjob{
  margin-left: 40%;
  margin-right: 40%;
}

.newjob input, select{
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.newjob input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-group {
  padding: 8px; 
}

.newjob input[type=submit]:hover {
  background-color: #45a049;
}

 ul.topnav li a:hover:not(.active) {background-color: #111;}

 ul.topnav li a.active {background-color: #4CAF50;}

 ul.topnav li.right {float: right;}

.edit_user{
  align-items: center;
}

.edit_user{
  margin-left: 10%;
}

.edit_user input, select{
  width: 50%;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit_user input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit_user input[type=submit]:hover {
  background-color: #45a049;
}

 #jobs {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }

 #jobs td, #jobs th {
   border: 1px solid #ddd;
   padding: 8px;
 }

 #jobs tr:nth-child(even){background-color: #f2f2f2;}

 #jobs tr:hover {background-color: #ddd;}

 #jobs th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #4CAF50;
   color: white;
 }

 #wallets {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }

 #wallets td, #wallets th {
   border: 1px solid #ddd;
   padding: 8px;
 }

 #wallets tr:nth-child(even){background-color: #f2f2f2;}

 #wallets tr:hover {background-color: #ddd;}

 #wallets th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #fcba03;
   color: white;
 }

 @media screen and (max-width: 600px) {
   ul.topnav li.right,
   ul.topnav li {float: none;}
 }
